//= require_self
//= require_tree

header
  text-align: right
  a
    margin-left: 5px
  a:first
    margin-left: 0px

section.flash
  div.alert
    color: red
    font-weight: bolder
  div.notice
    color: green
    font-weight: bolder
